.btn {
    background-color: #fff;
    display: inline-block;
    border: 2px solid rgb(var(--foreground-colour));
    color: rgb(var(--foreground-colour));
    font-size: var(--font-small);
    padding: 0.35em 1.5em;
    appearance: none;
    cursor: pointer;
    line-height: 2.3;

    &--disabled,
    &:disabled {
        color: rgba(var(--foreground-colour), var(--foreground-disabled-text-opacity));
        cursor: default;
    }

    &--active {
        color: rgb(var(--foreground-active-colour));
        border-color: rgb(var(--foreground-active-colour));
    }

    &--error {
        color: rgb(var(--foreground-error-colour));
        border-color: rgb(var(--foreground-error-colour));
    }
}